{# filepath: /Users/lukaszdacz/projekty/elixir/project-root/symphony_app/templates/users.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Users API</title>
</head>
<body>
    <h1>Odpowiedź z Elixir Phoenix API</h1>
    <pre>{{ data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
</body>
</html>